body{
	background-color: lightblue;
	width: 800px;
}
h1{
	
}
.container{
	position: relative;
	width: 700px;
}
.top{
	background-color: red;
	width: 200px;
	height: 200px;
	position: absolute;
	top:400px;
	left:400px;
}
.middle{
	background-color: blue;
	width: 200px;
	height: 200px;
	position: absolute;
	top:200px;
	left:200px;
}
.bottom{
	background-color: yellow;
	width: 200px;
	height: 200px;	
	position: absolute;

	top:0;
	left:0;
}