body {
  margin: 0;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  color: #40514E;
}

h1 {
  font-family: 'ZCOOL KuaiLe', cursive;
  font-size: 6.625rem;
  margin: 25px 0 15px 0;
  color: #66BFBF;
}

h2 {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
	padding-bottom: 25px;
}

h3 {
  color: #11999E;
}

a {
  color: #11999E;
}
p{  
	line-height: 2;
}
hr{
	border: dotted grey 5px;
	border-bottom: none;
	width: 4%;
	margin: 30px auto;
}
.cloud-top {
  position: absolute;
}

.container {
  position: relative;
  width: 1000px;
}

.top {}

.middle-container {
  margin: 100px 0 100px 0;
}
.intro{
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}
.skill-row {
  margin: 10px auto 10px auto;
  width: 50%;
  text-align: left;
  line-height: 2;
}

.bottom-container {
	width:100%;
	margin: 100px 0 100px 0;
	background-color: #66BFBF;
	
}
.contact-me{
	margin: 100px auto 100px auto;
	width: 50%;
	
}

.chilli-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.computer-img {
  width: 25%;
  border-radius: 50%;
  float: right;
  margin-left: 30px;
}

.btn {
  background: #11cb04;
  background-image: -webkit-linear-gradient(top, #11cb04, #11999e);
  background-image: -moz-linear-gradient(top, #11cb04, #11999e);
  background-image: -ms-linear-gradient(top, #11cb04, #11999e);
  background-image: -o-linear-gradient(top, #11cb04, #11999e);
  background-image: linear-gradient(to bottom, #11cb04, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Ubuntu', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;

}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}